<div id="comments">
    <h2 class="comment-count">0 Comments</h2>

    <!--
    <ul class="comments">
        <li>
            <article class="comment" id="comment-1">
                <header>
                    <h4>
                                <span class="who">
                                    <a href="#" rel="nofollow">Alexander</a>
                                </span>

                                <span class="when">
                                    said <time datetime="2013-04-03 16:05:04"><a href="#comment-1">4 days ago</a></time>
                                </span>
                    </h4>
                </header>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in molestie velit. Quisque sit amet quam at lacus tincidunt aliquet in ac enim. Cras non libero vitae lorem dictum faucibus. Vivamus eu eros ac felis vulputate fermentum at vitae mauris. Duis adipiscing elit sed ipsum ultricies condimentum sit amet in quam. </p>
            </article>
        </li>

        <li>
            <article class="comment" id="comment-2">
                <header>
                    <h4>
                                <span class="who">
                                    <a href="#" rel="nofollow">Friedolin</a>
                                </span>

                                <span class="when">
                                    said <time datetime="2013-04-03 16:05:04"><a href="#comment-2">4 days ago</a></time>
                                </span>
                    </h4>
                </header>

                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

            </article>
        </li>

        <li>
            <article class="comment" id="comment-3">
                <header>
                    <h4>
                                <span class="who">
                                    <a href="#" rel="nofollow">Willy Brandt</a>
                                </span>

                                <span class="when">
                                    said <time datetime="2013-04-03 16:05:04"><a href="#comment-3">4 days ago</a></time>
                                </span>
                    </h4>
                </header>

                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in molestie velit. Quisque sit amet quam at lacus tincidunt aliquet in ac enim. Cras non libero vitae lorem dictum faucibus. Vivamus eu eros ac felis vulputate fermentum at vitae mauris. Duis adipiscing elit sed ipsum ultricies condimentum sit amet in quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis illo corporis nemo nostrum provident molestias quo molestiae assumenda maxime ipsum nesciunt quam a beatae. Repudiandae optio minima in porro maiores. </p>

            </article>
        </li>

    </ul>
    -->
</div>

<form class="comment-form">
    <fieldset class="who">
        <legend id="add-comment">Add a Comment</legend>
        <label for="Name">Name</label>
        <input id="Name" class="text" name="Name" type="text" value="">
        <label for="Email">Email</label>
        <input id="Email" class="text" name="Email" type="text" value="">
        <label for="SiteName">Url</label>
        <input id="SiteName" class="text" name="SiteName" type="text" value="">
    </fieldset>

    <fieldset class="what">
        <label for="comment-text">Comment</label>
        <textarea id="comment-text" rows="10" cols="30" name="CommentText"></textarea>
        <button class="primaryAction" type="submit">Submit Comment</button>
    </fieldset>
</form>
</div>
