<article class="widget-triple-first widget-html-widget widget">
    <header>
        <h1>Random</h1>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nibh ut tortor dapibus vestibulum. Aliquam vel sem nibh. Suspendisse vel condimentum tellus.</p>
</article>
