<article class="widget-search-form widget">
    <header>
        <h1>Search</h1>
    </header>
    <form action="#" class="search-form" method="get">
        <fieldset>
            <input id="q" name="q" type="text" value="">
            <!-- <button type="submit" class="button-icon"><i class="glyphicons-icon search white"></i></button> -->
            <button type="submit">Go</button>
        </fieldset>
    </form>
</article>
