<article class="widget-tag-cloud widget">
    <header>
        <h1>Tag Cloud</h1>
    </header>
    <ul class="tagcloud">
        <li class="tagCloud-tag tagCloud-1">
            <a href="#">London</a>
        </li>
        <li class="tagCloud-tag tagCloud-5">
            <a href="#">Edinburgh</a>
        </li>
        <li class="tagCloud-tag tagCloud-3">
            <a href="#">Hamburg</a>
        </li>
        <li class="tagCloud-tag tagCloud-4">
            <a href="#">Krakow</a>
        </li>
        <li class="tagCloud-tag tagCloud-2">
            <a href="#">Fortaleza</a>
        </li>
        <li class="tagCloud-tag tagCloud-1">
            <a href="#">Winterthur</a>
        </li>
        <li class="tagCloud-tag tagCloud-2">
            <a href="#">St.Gallen</a>
        </li>
        <li class="tagCloud-tag tagCloud-1">
            <a href="#">Jakarta</a>
        </li>
        <li class="tagCloud-tag tagCloud-5">
            <a href="#">Bangkok</a>
        </li>
        <li class="tagCloud-tag tagCloud-3">
            <a href="#">Belgrad</a>
        </li>
        <li class="tagCloud-tag tagCloud-4">
            <a href="#">Vienna</a>
        </li>
        <li class="tagCloud-tag tagCloud-4">
            <a href="#">Marrakech</a>
        </li>
        <li class="tagCloud-tag tagCloud-2">
            <a href="#">Miami</a>
        </li>
    </ul>
</article>
