{% extends 'page.tmpl' %}
{#
#+--------------------------------------------------------------------+
#| edit.tmpl
#+--------------------------------------------------------------------+
#| Copyright DarkOverlordOfData (c) 2012 - 2013
#+--------------------------------------------------------------------+
#|
#| This file is a part of Exspresso
#|
#| Exspresso is free software; you can copy, modify, and distribute
#| it under the terms of the MIT License
#|
#+--------------------------------------------------------------------+
#
# Show a single blog
#
#}
{% block title %}{% parent %} | Edit {% endblock %}
{% block content %}

<div class="offset1 span6 zone-content">
    <article>
        <div class="published">{{ doc.created_on|date('D d, Y') }}</div>
        <h1 id="title" contenteditable="{{ contenteditable }}">{{ doc.title }}</h1>
        <div>
            <p class='lead'>{% abstract doc.body %}</p>
            <div id="body" contenteditable="{{ contenteditable }}">{{ doc.body }}</div>
        </div>
    </article>

    {%- if contenteditable == true -%}

        {%- form_open action "class='article'" -%}
        {%- form_hidden 'id' doc.id -%}
        {%- form_hidden 'title' -%}
        {%- form_hidden 'body' -%}
        <div class="control-group">
        <button type='submit' name='save'>Save</button>
        &nbsp;
        <button type='submit' name='cancel'>Cancel</button>
        </div>
        {%- form_close -%}

    {%- endif -%}

    <div class="clearfix"></div>
    {# % include 'blocks/blog/comments.tmpl' % #}
</div>

<aside id="aside-right" class="aside-column offset1 span3">
    {% include 'regions/sidebar.tmpl' %}
</aside>

{% endblock %}

{% block script %}
{% script '//d16acdn.aws.af.cm/ckeditor/ckeditor.js' %}
<script>

CKEDITOR.replace( 'blog', {
    extraPlugins: 'divarea'
});

$('form.article').submit(function() {
    for (var instance in CKEDITOR.instances)
        CKEDITOR.instances[instance].destroy();
    $('input[name="title"]').val($('#title').html());
    $('input[name="body"]').val($('#body').html());
});
</script>
{% endblock %}


